@import "../variables/Variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.header-wrapper {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  //   max-width: 1920px;
  color: $blackColor;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  position: relative;

  .navigation-container {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    //   max-width: 1920px;
    height: 84px;
    color: $blackColor;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;

    .advisage-container {
      display: flex !important;
      font-family: $titleFont;
      // top: 24px;
      //   left: 123px;
      padding-left: 41px;
      width: 150px;
      //   height: 41px;
      cursor: pointer;

      .advisage-content {
        text-align: center;
        font: normal normal bold 34px/41px Lato;
        letter-spacing: 0px;
        color: #1c1c1c;
        opacity: 1;
      }
    }

    .talent-navigation-container {
      display: flex !important;
      align-items: center;
      right: 120px;
      padding-right: 41px;

      .hire-talent {
        top: 30px;
        left: 1059px;
        // width: 105px;
        // height: 24px;
        text-align: left;
        font: normal normal bold 20px/24px Lato;
        letter-spacing: 0px;
        color: #1c1c1c;
        opacity: 1;
        cursor: pointer;
      }

      .become-advisor {
        padding-left: 24px;
        left: 1228px;
        // width: 168px;
        // height: 24px;
        text-align: left;
        font: normal normal bold 20px/24px Lato;
        letter-spacing: 0px;
        color: #1c1c1c;
        opacity: 1;
        cursor: pointer;
      }

      .find-advisor {
        padding-left: 24px;
        left: 1457px;
        // height: 24px;
        text-align: left;
        font: normal normal bold 20px/24px Lato;
        letter-spacing: 0px;
        color: #1c1c1c;
        opacity: 1;
        cursor: pointer;
      }
    }

    .get-btn-container {
      display: flex !important;
      padding-left: 24px;
      cursor: pointer;

      .get-started {
        top: 14px;
        left: 1632px;
        width: 168px;
        height: 56px;
        background: transparent
          linear-gradient(180deg, #4d94f8 0%, #d284e2 100%) 0% 0% no-repeat
          padding-box;
        font: normal normal bold 20px/24px Lato;
        border-radius: 220px;
        opacity: 1;
        outline: none;
        border: 0;
        cursor: pointer;
      }
    }
  }

  .advisage-special-container {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 84px;
    left: 0px;
    width: 100%;
    height: 64px;
    background: #b500f7 0% 0% no-repeat padding-box;
    opacity: 1;

    .advisage-special-text {
      top: 101px;
      left: 652px;
      //   width: 616px;
      height: 27px;
      text-align: center;
      font: normal normal normal 22px/27px Lato;
      letter-spacing: 0px;
      color: #ffffff;
      opacity: 1;
    }
  }
}
